{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<section data-bs-version="5.1" class="header9 cid-tjcUQUqpnb" id="header9-l">

    

    <div class="text-center container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="image-wrap mb-4">
                    <img src="{% static 'assets/images/mbr-1620x1080.jpeg' %}" alt="">
                </div>
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Лицензия</strong></h1>
                <p class="mbr-text mbr-fonts-style display-4">
                    Что-то про лицензию.</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="#">Посмотреть лицензию</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features7 cid-tjcVyJZXRF" id="features8-r">
    <!---->
    

    
    
    <div class="container">
        <div class="row">
            <div class="title col-12">
                <h5 class="mbr-section-title mbr-fonts-style mb-3 display-2">
                    <strong>Направления обучения</strong>
                </h5>
                
            </div>

            {% for discipline in disciplines %}
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="top-line">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>{{discipline.d_name}}</strong>
                        </h6>
                        <p class="mbr-text cost mbr-fonts-style display-5">{{discipline.d_price}}р</p>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{discipline.d_description}}
                        </p>
                    </div>
                </div>
            </div>    
            {% endfor %}
            
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-tjWJLb03yq" id="slider4-v">
    
    
    <div class="position-relative text-center">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Больше об обучении</strong></h4>
            
        </div>
        <div class="embla mt-4" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{% static 'assets/images/features2.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-7"><strong>Формы оказания услуг</strong></h5>
                                
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Описание.</p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="dop/" class="btn btn-primary item-btn display-7" target="_blank">Читать больше
                                    &gt;</a></div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{% static 'assets/images/features3.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-7"><strong>Виды обучения</strong></h5>
                                
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Описание.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="dop/" class="btn btn-primary item-btn display-7" target="_blank">Читать больше
                                    &gt;</a></div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="{% static 'assets/images/features4.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-title mbr-fonts-style display-7"><strong>Дополнительные услуги</strong></h5>
                                
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Описание.<br></p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2"><a href="dop/" class="btn btn-primary item-btn display-7" target="_blank">Читать больше
                                    &gt;</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form4 cid-tjcVmoeCXS mbr-fullscreen" id="form4-q">

    

    

    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-3 offset-lg-1 mbr-form" data-form-type="formoid">


                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                <strong>Подать заявку</strong>
                            </h1>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                Заполните форму для подачи заявки на обучение.</p>
                        </div>
                
                <form method="post" class="mbr-form form-with-styler" data-form-title="Form Name" action="">
                    {% csrf_token %}

                    
                    

                   

                        <div class="col-lg-12 col-md col-12 form-group mb-3" data-for="name">
                            
                            {{ c_form.e_name }}
                        </div>

                        <div class="col-lg-12 col-md col-12 form-group mb-3" data-for="email">
                            {{ c_form.email }}
                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-secondary display-4">Подтвердить</button>
                        </div>


                </form>

            </div>
            <div class="col-lg-7 offset-lg-1 col-12">
                <div class="image-wrapper">
                    <img class="w-100" src="{% static 'assets/images/stephen-phillips-hostreviews-co-uk-3mhgvrk4tjm-unsplash-1266x844.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features16 cid-tjcVRDKgqm" id="features17-s">
    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{% static 'assets/images/dmitry-demidko-ebwzfkaheau-unsplash-980x653.jpeg' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Реквизиты</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            +123456789 </p>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            ИНН 34567876543345678 </p>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            ИМР 456789654345678 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts2 cid-tjcV9yoGWL" id="contacts2-n">
    <!---->
    

    
    
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(206, 191, 175);">
    </div>
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Контакты</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5"><strong>Телефон</strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">0 (800) 123 45 67</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5"><strong>Почта</strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:expert@centerexpertspb.ru" class="text-primary">expert@centerexpertspb.ru</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Телефон</strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            0 (800) 123 45 67
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont socicon-vkontakte socicon"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5"><strong>ВКонтакте</strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="https://vk.com/centerexpertspb" class="text-primary">vk.com/centerexpertspb</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts3 map1 cid-tjcV8hjPZA" id="contacts3-m">

    

    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Как нас найти</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-map-pin mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5"><div><strong>Каменноостровский пр. 15</strong><br></div></h6>
                        <p class="mbr-text mbr-fonts-style display-7">От метро Горьков 3 минуты пешком</p>
                    </div>
                </div>
                
            </div>
            <div class="map-wrapper col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNveGQ9bfpKFwWzQLLftrR9hNiHwdqQG8&amp;q=Санкт петербург каменноост пр 15" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>



<section data-bs-version="5.1" class="clients1 cid-tjcW3s6q7V" id="clients1-t">
    
    <div class="images-container container">
        <div class="mbr-section-head">       
        </div>
        <div class="row justify-content-center mt-4">
            {% for partner in partners %}
            <div class="col-md-3 card">
                <img src="{{ partner.p_image.url }}" alt="">
            </div>
            {% endfor %} 
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="content17 cid-tjcVbiQ8L8" id="content17-o">

    

    
    
    
    <div class="container">
        
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="section-head align-center mb-4">
                        <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                            <strong>Toggle FAQ</strong>
                        </h3>
                        
                    </div>
                    
                    <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content">
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Вопрос?</strong>
                                </h6>
                                    <span class="sign mbr-iconfont mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Ответ.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_9" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Вопрос?</strong>
                                </h6>
                                    <span class="sign mbr-iconfont mbri-arrow-down"></span>
                                </a>

                            </div>
                            <div id="collapse2_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Ответ.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>

<section data-bs-version="5.1" class="form5 cid-tjWJhWjl34" id="form5-u">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Остались вопросы?</strong>
            </h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
                Задайте их здесь и мы вам ответим.
            </h4>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">

                <form method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    {% csrf_token %}
                    <div class="dragArea row">

                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            {{ q_form.q_name }}
                        </div>

                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            {{ q_form.q_email }}
                        </div>
                        
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            {{ q_form.question }}
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-primary display-4">Отправить</button></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


  
{% endblock %}